<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "/etc/iwatch.dtd" >

<!-- iWatch configuration -->
<!--
You can create several watch lists, each with it's own contact point
And in this watch list you can put all directories and files you want to monitor
The path type decide how a directory is monitored, recursively or as single
directory. But it will monitor all new created directory (after iwatch
started) recursively regardless of path type.
iWatch will send email alert with guard's email address as sender
Don't forget to set the correct email address here
-->

<config charset="utf-8">
  <guard email="root@localhost" name="IWatch"/>
  <watchlist>
    <title>Public Website</title>
    <contactpoint email="webmaster@localhost" name="Web Master"/>
    <path type="single" syslog="on">/var/www/localhost/htdocs</path>
    <path type="single" syslog="off">/var/www/localhost/htdocs/About</path>
    <path type="recursive">/var/www/localhost/htdocs/Photos</path>
  </watchlist>
  <watchlist>
    <title>Operating System</title>
    <contactpoint email="root@localhost" name="Administrator"/>
    <path type="recursive">/etc/apache2</path>
    <path type="single">/bin</path>
    <path type="single" filter="shadow|passwd">/etc</path>
    <path type="recursive">/etc/mail</path>
    <path type="exception">/etc/mail/statistics</path>
  </watchlist>
  <watchlist>
    <title>Only Test</title>
    <contactpoint email="root@localhost" name="Administrator"/>
    <path type="single" alert="off" exec="(w;ps)|mail -s %f root@localhost">/tmp/dir1</path>
    <path type="single" events="access,close" alert="off" exec="(w;ps)|mail -s %f root@localhost">/tmp/dir2</path>
    <path type="single" events="default,access" alert="off" exec="(w;ps)|mail -s '%f is accessed at %{%H:%M:%S}d' root@localhost">/tmp/dir3</path>
    <path type="single" events="all_events" alert="off">/tmp/dir4</path>
    <path type="recursive">/data/projects</path>
    <path type="regexception">\.svn</path>
  </watchlist>
</config>
